@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ID.Models.User>



<form id="regForm" action="Registration/Index" method="get">
    <a asp-controller="Registration" asp-action="Reg">Create new User</a>
    <table class="table">
        <tr><td>Name</td><td>Mail</td></tr>
        @if(Model.Count() != 0)
        {
            @foreach(var item in Model)
            {
                <tr><td>@item.Name</td><td>@item.Mail</td></tr>
            }
            
        }
    </table>
</form>

