@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form id="regForm" action="Registration/Index" method="post">
    <div>
        <label for="nikname">Name : </label>
        <input type="text" name="nikname" placeholder="RegName" />
        <br />
        <label for="mail">Email : </label>
        <input type="email" name="mail" placeholder="e-mail" />
        <br />
        <input type="submit" name="submitButton" placeholder="Send" />

    </div>
</form>
