@{
    ViewData["Title"] = "CVV Vicent Nedelko";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="content_pers">
        <div class="left">
            <div>
                <p class="desire_position">
                    .NET Developer
                </p>
                <p class="first_name">Vicent</p>
                <p class="last_name">Nedelko</p>
            </div>
            <div>
                <img class="personal_photo" src="~/lib/1608237607132.jfif">
            </div>
        </div>
        <div class="right">
            <p class="contact">
                Contact
            </p>
            <p class="phone">
                phone : +375 (29) 187-17-55
            </p>
            <p class="mail">
                <a href="mailto:glory.jly@gmail.com">mail : glory.jly@gmail.com</a>
            </p>

        </div>
    </div>
    <div class="desc">
        <div class="left_desc">
            <p class="work_exp">
                work experience
            </p>
            <p class="company_name">
                <a href="http://knx.by">KINEX P.U.E.</a>
            <p class="position">Director | 2013 - Present</p>
            </p>
            <ul>
                <li>
                    team leader;
                </li>
                <li>
                    buisness analyst in the field of Smart House;
                </li>
                <li>
                    project manager - Building Automation, Electricity;
                </li>
                <li>
                    control and organize engineering group - up to 5 members;
                </li>
                <li>
                    communication with the customers - technical task, specification;
                </li>
                <li>
                    planning & scheduling;
                </li>
            </ul>
            <hr class="devider">
            <p id="elventa" class="company_name">
                <a id="elventa-name" href="http://gira.com.by">ELVENTA - GROUP Ltd.</a>
            <p class="position">Head of Department | 2010 - 2013</p>
            </p>
            <ul>
                <li>
                    Smart Home projecting;
                </li>
                <li>
                    Project management - Building Automation;
                </li>
                <li>
                    Contructor control;
                </li>
                <li>
                    On-site installation;
                </li>
                <li>
                    Commission devices - KNX-based;
                </li>
                <li>
                    Planning & scheduling;
                </li>
            </ul>
            <hr class="devider">
            <button id="more-button" class="more_info">More info...</button>
            <p>

            </p>
        </div>
        <div class="right_desc">
            <p class="education">
                education
            </p>
            <p class="school">
                Belarussian State University of Informatics & Radioelectronics (BSUIR)
            </p>
            <p class="school">
                Radioengineer
            </p>
            <p class="school">
                MINSK, BELARUS
            </p>
            <p class="school">
                1997 - 2002
            </p>
            <hr>
            <p class="school">
                Postgraduate aducation
            </p>
            <p class="school">
                BSUIR, MINSK
            </p>
            <p class="school">
                2002 - 2005
            </p>
            <p class="skills">
                skills
            </p>
            <ul>
                <li>
                    C# core
                </li>
                <li>
                    HTML
                </li>
                <li>
                    CSS
                </li>
                <li>
                    JS
                </li>
            </ul>
            <p class="certification">
                certification
            </p>
            <p>
            <p id="certificate_KNX" class="certificate"><u>KNX Basic</u></p>
            <p class="school">MOSCOW, 2018</p>
            </p>
            <hr>
            <p>
            <p id="certificate_GIRA" class="certificate"><u>GIRA Training</u></p>
            <p class="school">DUSSELDORF, 2009 - 2019</p>
            </p>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>
